{% extends "sl/base.html" %}
{% load static %}
{% load image_tags %}

{% block layout %}

<div id="contactform">
    <div class="container  mob-center">
        <div class="row">
            <div class="col-12 text-center" id="pagesection">
                <h1>Contact Us</h1>
                <!-- <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p> -->
            </div>
            <div class="col-12 mob-col outer-contact">
                <div class="row">
                    <div class="col-12 col-lg-5">
                        <div class="contactcard">

                            <h2 class="cardheading">SL Agarbatti Company</h2>
                            <p class="cardpara">Contact Information</p>
                            <div class="contact-details">
                                <ul class="list-unstyled">
                                    <li><img src="{% static 'assets/images/contact/phone.png' %}" alt="phone"
                                            class="img-fluid"><a href="tel:+919773802420">+91 9773802420</a></li>
                                    <li><img src="{% static 'assets/images/contact/email.png' %}" alt="email"
                                            class="img-fluid"><a
                                            href="mailto:Info@slagarbatti.com">Info@slagarbatti.com</a>
                                    </li>
                                    <li><img src="{% static 'assets/images/contact/location.png' %}" alt="location"
                                            class="img-fluid"><a href="https://maps.app.goo.gl/uUTqMnSJ2Ctm4xpy5"
                                            target="_blank">Shop no. 8 / 9, Lucky Compound, Sahyadri Nagar, Bhandup
                                            West, Mumbai, Maharashtra 400078</a></li>
                                </ul>
                            </div>
                            <div class="socials-card">
                                <ul>
                                    <li><a href="https://www.facebook.com/slagarbatti/" target="_blank"><i class="ri-facebook-fill"></i></a></li>
                                    <li><a href="https://www.instagram.com/sl.agarbatti/" target="_blank"><i class="ri-instagram-fill"></i></a></li>
                                    <li><a href="https://www.youtube.com/@s.l.agarbatti1504" target="_blank"><i class="ri-youtube-fill"></i></a></li>
                                    <li><a href="https://www.linkedin.com/company/s-l-agarbatti-company?trk=feed-detail_main-feed-card_feed-actor-name" target="_blank"><i class="ri-linkedin-fill"></i></a></li>
                                                
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-lg-7">
                        <form class="row g-3 contactform" id="contact-form" method="POST">
                      

                            {% csrf_token %}
                            <div class="col-md-6">
                                <label for="inputfirstname" class="form-label">First Name</label>
                                <input type="text" name="first_name" class="form-control" id="inputfirstname">
                            </div>

                            <div class="col-md-6">
                                <label for="inputlastname" class="form-label">Last Name</label>
                                <input type="text" name="last_name" class="form-control" id="inputlastname">
                            </div>

                            <div class="col-md-6">
                                <label for="inputemail" class="form-label">Email</label>
                                <input type="email" name="email" class="form-control" id="inputemail">
                            </div>

                            <div class="col-md-6">
                                <label for="inputphone" class="form-label">Phone Number</label>
                                <input type="number" name="phone" class="form-control" id="inputphone">
                            </div>

                            <div class="col-md-6">
                                <label for="inputcity" class="form-label">City</label>
                                <input type="text" name="city" class="form-control" id="inputcity">
                            </div>

                            <div class="col-md-6">
                                <label for="inputcountry" class="form-label">Country</label>
                                <input type="text" name="country" class="form-control" id="inputcountry">
                            </div>

                            <div class="col-md-12">
                                <label class="form-label">Select Subject</label><br>
                                <div class="d-flex flex-column flex-lg-row">
                                    <div>
                                        <input class="form-check-input" type="radio" name="subject"
                                            value="General Inquiry" id="subjectGeneral">
                                        <label class="form-check-label" for="subjectGeneral">General Inquiry</label>
                                    </div>

                                    <div>
                                        <input class="form-check-input" type="radio" name="subject"
                                            value="Product Issue" id="subjectProductIssue">
                                        <label class="form-check-label" for="subjectProductIssue">Product Issue</label>
                                    </div>

                                    <div>
                                        <input class="form-check-input" type="radio" name="subject"
                                            value="Shipping Inquiry" id="subjectShipping">
                                        <label class="form-check-label" for="subjectShipping">Shipping Inquiry</label>
                                    </div>

                                    <div>
                                        <input class="form-check-input" type="radio" name="subject" value="Other"
                                            id="subjectOther">
                                        <label class="form-check-label" for="subjectOther">Other</label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-12">
                                <label for="inputmsg" class="form-label">Message</label>
                                <div>
                                    <textarea name="message" class="form-control" placeholder="Write Your Message"
                                        id="inputmsg" style="height: 120px" draggable="false"></textarea>
                                </div>
                            </div>
                            <div class="d-none" id="error-container" style="color: red;">
                                {{ error_message }}!
                            </div>

                            <div class="d-none" id="success-container" style="color: green;">
                                {{ success_msg }}!
                            </div>

                            <div id="loader" class="d-flex justify-content-center align-items-center d-none">
                                <div class="spinner-border" role="status">
                                </div>
                            </div>
                            <div class="col-12 text-center text-md-end">
                                <button type="submit" class="contact-submit text-dark">Send Message</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="mapsection">
    <div class="map-section ">
        <div class="container ">
            <div class="row position-relative  ">
                <div class="col-12 text-center" id="pagesection">
                    <h1 class="">Our Presence</h1>
                    <p>Say hello to our friendly team at one of these locations.</p>
                </div>
                <div class="col-12  d-flex justify-content-center">
                    <div class="globe">
                        <figure class="surface">
                          <a href="#" class="beacon" data-location="Europe"></a>
                          <a href="#" class="beacon" data-location="Africa"></a>
                          <a href="#" class="beacon" data-location="Mauritius"></a>
                          <a href="https://maps.app.goo.gl/4MaTY9ncDMwYs3KL7" target="_blank" class="beacon" data-location="India"></a>
                          <a href="#d" class="beacon" data-location="Malaysia"></a>
                        </figure>
                      </div>
                </div>
                <div class="col-12 d-flex justify-content-end ">
                    <div class="row   mt-5 mb-5">
                        <div class="col-12 col-lg-1">
                            
                        </div>
                        <div class="col-12 col-md-6 col-lg-2 mb-2">
                            <div class="card " >
                                <div class="card-header country-name">
                                    <h4 class="m-0">India</h4>
                                </div>
                                <div class="card-body  text-center">
                                    <img src="{% static 'assets/images/contact/india.jpg' %}" alt="usa" class="img-fluid">
                                </div>
                                </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-2 mb-2">
                            <div class="card " >
                                <div class="card-header country-name">
                                    <h4 class="m-0">Africa</h4>
                                </div>
                                <div class="card-body text-center" >
                                    <img src="{% static 'assets/images/contact/africa.jpg' %}" alt="africa" class="img-fluid">
                                </div>
                                </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-2 mb-2">
                            <div class="card " >
                                <div class="card-header country-name">
                                    <h4 class="m-0">Malaysia</h4>
                                </div>
                                <div class="card-body text-center">
                                    <img src="{% static 'assets/images/contact/malaysia.jpg' %}" alt="usa" class="img-fluid">
                                </div>
                                </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-2 mb-2">
                            <div class="card " >
                                <div class="card-header country-name">
                                    <h4 class="m-0">Europe</h4>
                                </div>
                                <div class="card-body text-center">
                                    <img src="{% static 'assets/images/contact/europe.jpg' %}" alt="europe" class="img-fluid">
                                </div>
                               
                                    </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-2 mb-2" >
                            <div class="card " >
                                <div class="card-header country-name">
                                    <h4 class="m-0">Mauritius</h4>
                                </div>
                                <div class="card-body text-center">
                                    <img src="{% static 'assets/images/contact/Mauritius.png' %}" alt="Mauritius" class="img-fluid">
                                </div>           
                            </div> 
                        </div>
                        <div class="col-12 col-lg-1">
                            
                        </div>
                    </div>
                </div>
                <!-- <div class="col-12 map-area mb-4">
                    <img src="{% static 'assets/images/contact/map.png' %}" alt="map" class="image-fluid map-img">
                    <svg id="map-svg" viewBox="0 0 1500 600" class="map-points">
                        <circle class="city wave-effect" cx="990" cy="290" r="5" data-bs-toggle="tooltip"
                            data-bs-placement="top" title="India" />
                        <circle class="city wave-effect" cx="1070" cy="355" r="5" data-bs-toggle="tooltip"
                            data-bs-placement="top" title="Malaysia" />
                        <circle class="city wave-effect" cx="800" cy="485" r="5" data-bs-toggle="tooltip"
                            data-bs-placement="top" title="South Africa" />
                        <circle class="city wave-effect" cx="400" cy="250" r="5" data-bs-toggle="tooltip"
                            data-bs-placement="top" title="USA" />
                        <circle class="city wave-effect" cx="780" cy="180" r="5" data-bs-toggle="tooltip"
                            data-bs-placement="top" title="Europe" />
                    </svg>
                </div> -->
            
           
              

            
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var loader = document.getElementById('loader');
    document.getElementById('contact-form').addEventListener('submit', function (event) {
        event.preventDefault();

        const successContainer = document.getElementById('success-container');
        const errorContainer = document.getElementById('error-container');
        const form = event.target;
        const formData = new FormData(form);

        loader.classList.remove('d-none');

        fetch(form.action, {
                method: 'POST',
                body: formData,
                headers: {
                    'X-Requested-With': 'XMLHttpRequest',
                    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
                }
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    loader.classList.add('d-none');
                    successContainer.classList.remove('d-none');
                    successContainer.textContent = data.message;
                    errorContainer.classList.add('d-none');

                    // Clear the form fields
                    form.reset();

                    // Hide success message after a delay
                    setTimeout(() => {
                        successContainer.classList.add('d-none');
                    }, 4000);
                } else if (data.status === 'error') {
                    loader.classList.add('d-none');
                    errorContainer.textContent = data.message;
                    errorContainer.classList.remove('d-none');
                    successContainer.classList.add('d-none');
                }
            })
            .catch(error => {
                loader.classList.add('d-none');
                errorContainer.textContent = error.message;
                errorContainer.classList.remove('d-none');
                successContainer.classList.add('d-none');
            })
            .finally(() => {
                loader.classList.add('d-none');
            });
    });
</script>

<script>
    var tooltips = new bootstrap.Tooltip(document.body, {
        selector: '[data-bs-toggle="tooltip"]'
    });
</script>

{% endblock %}