{% extends "sl/base.html" %}
{% load static %}
{% load image_tags %}



{% block layout %}

<section class="sms">
    <div class="container sms-con">
        <div class="row">
            <div class="col-12 text-center text-light sms-banner">
                <h1>Supply Management System</h1>
                <div class="para-sms mt-3">
                    <p> Depot in Bhiwandi & Kolkata, S.L Agarbatti Company can efficiently reach customers in
                        the eastern region, reducing transit times and ensuring timely deliveries. This
                        strategic location enables the company to cater to a larger customer base and expand its
                        market reach </p>
                </div>
            </div>
            
        </div>
    </div>
</section>

<!-- Global Business Operations Section -->
<section class="gbo">
    <div class="container mob-center">
        <div class="row">
            <div class="col-12 col-md-6 mob-col ">
                <div class="sticky-content">
                    <h1 class="mt-5 ">How Supply Chain Management Systems are Transforming Global
                        Business Operations
                    </h1>
                    <div class="para-gbo mt-3 ">
                        <p>
                            S.L Agarbatti Company, with 18 years of experience, is a reputable Indian producer of premium incense sticks. The company has a vast distribution network across India and a strong international presence in markets such as Europe, South Africa, Malaysia, and the USA, ensuring their high-quality products reach a diverse global audience.
                        </p>
                    </div>
                </div>

            </div>
            <div class="col-12 col-md-6 mob-col">
                <div class="row">
                    <div class="col-12">
                        <div class="Supplier-img mt-5">
                            <img src="{% static 'assets/images/services/01.png' %}" alt="number" class="img-fluid">
                            <div class="gbo-heading">
                                <h1 class="mt-2">Supplier</h1>
                            </div>
                            <div class=" supply-chain-details mt-2">
                                <p>S.L Agarbatti Company is an established Indian enterprise specialising in producing premium incense sticks. With 18 years of experience in the industry, we have built a strong reputation for high-quality products that are well-received by customers in Pan India and internationally.</p>
                                <p >We are proud to maintain a robust presence in various international markets, including Europe, South Africa, Malaysia, and the USA. This global reach allows us to showcase and promote traditional Indian incense products to a diverse audience worldwide.</p>
                                <p >We are extremely passionate about sourcing:</p>
                                <ul class="supply-list">
                                    <li><span class="fw-semibold text-dark">Bamboo Sticks:-</span>Choose Sustainable and high-quality bamboo for our incense sticks.</li>

                                    <li><span class="fw-semibold text-dark">Essential Oils and Fragrances:-</span> Natural and synthetic oils that provide unique and consistent scents</li>

                                    <li><span class="fw-semibold text-dark">Binding Agents and Powders:-</span> Including charcoal powder, wood powder, and natural resins.</li>

                                    <li><span class="fw-semibold text-dark">Packaging Materials:-</span> Eco-friendly and customizable packaging options to cater to different markets</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mob-col">
                        <div class="Supplier-img mt-5">
                            <img src="{% static 'assets/images/services/02.png' %}" alt="number" class="img-fluid">
                            <div class="gbo-heading">
                                <h1 class="mt-2">Distributer</h1>
                            </div>
                            <div class="supply-chain-details mt-2">
                                <p>S.L Agarbatti Company is a distinguished Indian enterprise specialising in premium incense sticks. With 18 years of industry experience, we have established a strong reputation for delivering high-quality products that resonate with customers both domestically and internationally.</p>
                                <p>We are excited to inform you that S.L Agarbatti Company has developed an extensive distribution network across Pan India, currently comprising 432 distributors. Our expansive network enables us to effectively reach diverse markets and ensure timely delivery of our products to customers nationwide.</p>
                                <ul class="supply-list">
                                    <li><span class="fw-semibold text-dark">Nationwide Coverage:-</span>Our 432 distributors are strategically located across various regions of Pan India, allowing us to maintain a robust presence and cater to regional demands efficiently.</li>

                                    <li><span class="fw-semibold text-dark">Efficient Distribution:-</span> The network is supported by our depots in Bhiwandi and Kolkata, which streamline logistics and ensure prompt delivery, particularly to the eastern regions of India.</li>

                                    <li><span class="fw-semibold text-dark">Market Penetration:-</span> Our distributors play a crucial role in expanding our market reach and promoting our premium agarbatti products to both retail and wholesale customers.</li>

                                  
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mob-col">
                        <div class="Supplier-img mt-5">
                            <img src="{% static 'assets/images/services/03.png' %}" alt="number" class="img-fluid">
                            <div class="gbo-heading">
                                <h1 class="mt-2">Wholesaler</h1>
                            </div>
                            <div class="supply-chain-details mt-2">
                              <p>We are pleased to inform you that S.L. Agarbatti Company has developed a comprehensive network of wholesalers across India. Our extensive network enables us to effectively distribute our products to various regions, ensuring availability and accessibility to meet diverse market demands.</p>

                              <ul class="supply-list">
                                <li><span class="fw-semibold text-dark">Pan-India Coverage:-</span>Our network of wholesalers spans across all regions of India, providing widespread access to our premium agarbatti products.</li>

                                <li><span class="fw-semibold text-dark">Efficient Distribution:-</span> Supported by our depots in Bhiwandi and Kolkata, our logistics system ensures timely and efficient delivery of products to wholesalers throughout the country.</li>

                                <li><span class="fw-semibold text-dark">Market Reach:-</span>Our wholesalers play a crucial role in expanding our market presence and driving the distribution of our products to retail outlets and other business partners.</li>

                              
                            </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 mob-col">
                        <div class="Supplier-img mt-5">
                            <img src="{% static 'assets/images/services/04.png' %}" alt="number" class="img-fluid">
                            <div class="gbo-heading">
                                <h1 class="mt-2">Retailer</h1>
                            </div>
                            <div class="supply-chain-details mt-2">
                                <p>S.L Agarbatti Company has developed a wide network of retail partners throughout India. Our extensive retail network is a testament to our commitment to making our premium products accessible to consumers nationwide.</p>
  
                                <ul class="supply-list">
                                  <li><span class="fw-semibold text-dark">Nationwide Coverage:-</span>Our network of retailers spans all regions of Pan India, ensuring that our premium agarbatti products are readily available to customers in various locations.</li>
  
                                  <li><span class="fw-semibold text-dark">Efficient Distribution:-</span> Supported by our depots in Bhiwandi and Kolkata, we ensure timely and reliable delivery of products to our retail partners.</li>
  
                                  <li><span class="fw-semibold text-dark">Market Presence:-</span>Our retail partners play a crucial role in expanding our market reach and providing consumers with access to our diverse range of agarbatti products.</li>
  
                                
                              </ul>
                              </div>
                        </div>
                    </div>
                    <div class="col-12 mob-col">
                        <div class="Supplier-img mt-5">
                            <img src="{% static 'assets/images/services/05.png' %}" alt="number" class="img-fluid">
                            <div class="gbo-heading">
                                <h1 class="mt-2">Consumer</h1>
                            </div>
                            <div class="supply-chain-details mt-2">
                                <p>SL Agarbatti takes great pride in catering to a diverse customer base across India, guaranteeing accessibility to our premium agarbatti products serving a diverse customer base across Pan India.</p>
  
                                <ul class="supply-list">
                                  <li><span class="fw-semibold text-dark">Authentic Fragrance:-</span>Experience the unique and captivating scents that reflect the essence of traditional craftsmanship and modern innovation.</li>
  
                                  <li><span class="fw-semibold text-dark">Eco-Friendly Practices:-</span> We prioritize sustainability in our production processes, using eco-friendly materials and practices to minimize our environmental impact.</li>
  
                                  <li><span class="fw-semibold text-dark">Customer Satisfaction:-</span>Our dedication to quality and service ensures that you receive a product that meets your expectations and enhances your experience.</li>
  
                                
                              </ul>
                              </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="scroller-animation">
    <div class="containers">
        <div class="wrapp">
            <div class="spacer"></div>
            <section class="work">
                <div class="work_left">
                    <div class="work_text">

                        <div class="work_info">
                            <div class="work_left-bl">
                                <h2 class="title">Manufacturing </h2>

                                <p><b>Strict Quality Control:</b> Quality control is a top priority at S.L.
                                    Agarbatti Company. Each batch of incense sticks undergoes rigorous testing
                                    to ensure they meet the company's strict quality standards. This commitment
                                    to excellence has earned the company a reputation for reliability and
                                    trustworthiness.</p>

                                <p><b>Sustainable Practices:</b> S.L Agarbatti Company is committed to
                                    sustainability and eco-friendliness in its manufacturing processes. The
                                    company works closely with suppliers to source raw materials and implements
                                    eco-friendly practices to minimize its environmental impact.</p>

                                <p><b>Flexible Production Capabilities:</b> One of the advantages of S.L.
                                    Agarbatti Company's manufacturing facilities is its ability to handle both
                                    large and small-scale production runs. Whether it's a bulk order for a
                                    retailer or export order for overseas clients, the company can tailor its
                                    production capabilities to meet the specific needs of its customers.</p>

                            </div>
                        </div>

                        <div class="work_info">
                            <div class="work_left-bl">

                                <h2 class="title">Export</h2>
                                <p>S.L Agarbatti Company, a leading manufacturer and exporter of incense sticks
                                    based in India. With a strong focus on quality, innovation, and customer
                                    satisfaction, S.L. Agarbatti Company has carved a niche for itself in the
                                    global markets, like Mauritius, Malaysia, Chille, Tanzania, Nigeria &
                                    Europe.</p>

                            </div>
                        </div>

                        <div class="work_info">
                            <div class="work_left-bl">

                                <h2 class="title">Quality Assurance</h2>

                                <p><b>Raw Material Selection:</b> S.L Agarbatti Company sources the finest raw
                                    materials available in the market to ensure the best quality end product.
                                </p>

                                <p><b>Production Process:</b> The production process undergoes strict quality
                                    checks at every stage to maintain consistency and excellence.</p>

                                <p><b>Testing and Inspection:</b> Each batch of Agarbatti and packaging
                                    undergoes thorough testing and inspection to detect any defects and ensure
                                    quality.</p>


                            </div>
                        </div>

                        <div class="work_info">
                            <div class="work_left-bl">

                                <h2 class="title">Domestic Market</h2>
                                <p>S.L Agarbatti Company is a leading manufacturer of high-quality incense
                                    sticks based in India. With 28 years of experience in the industry, they
                                    have built a strong reputation for producing premium products that are loved
                                    by customers all over the country</p>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="work_right">
                    <div class="work_right-bl">
                        <div class="work_photo">
                            <div class="work_photo-item" title="1">
                                <img src="{% static 'assets/images/supply/manufacturing.jpg' %}" alt="work-1">
                            </div>
                            <div class="work_photo-item" title="2">
                                <img src="{% static 'assets/images/supply/export.jpg' %}" alt="work-2">
                            </div>
                            <div class="work_photo-item" title="3">
                                <img src="{% static 'assets/images/supply/quality.jpg' %}" alt="work-3">
                            </div>
                            <div class="work_photo-item" title="4">
                                <img src="{% static 'assets/images/supply/domestic_market.jpg' %}" alt="work-4">
                            </div>
                        </div>

                    </div>
                </div>
            </section>
            <div class="spacer"></div>
        </div>
    </div>

</section>

{% endblock %}