{% extends "sl/base.html" %}
{% load static %}
{% load image_tags %}



{% block layout %}

<div id="gallerypage">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center" id="pagesection">
                <h1>Privacy & Term Condition</h1>
       
            </div>
            <div class="col-12">
                <div class="tabgroup">
                    <div class="tab-containers">
                        <div class="tab-items gallery-tab active" data-tab="Privacy">Privacy Policy</div>
                        <div class="tab-items gallery-tab" data-tab="Term">Term & Condition</div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="conditions-section">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <div id="tab-content-group">
                    <div class="tab-content-list active" id="Privacy">
                        <div class="row ">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">

                                        <ul class="card-text list-unstyled">
                                            <li class="pb-2"> <i class="ri-arrow-right-s-line"></i>S.L.
                                                Agarbatti is dedicated to protecting your privacy and
                                                maintaining the confidentiality of your personal information.
                                            </li>
                                            <li class="pb-2"> <i class="ri-arrow-right-s-line"></i> Our privacy
                                                policy is designed to safeguard your data and ensure that you
                                                have a positive shopping experience with us.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-content-list " id="Term">
                        <div class="row ">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">

                                        <ul class="card-text list-unstyled">
                                            <li class="pb-2"> <i class="ri-arrow-right-s-line"></i>S.L Agarbatti
                                                Company's website is crucial for all users. By familiarizing
                                                themselves with these policies, users can ensure a smooth and
                                                hassle-free online shopping experience.</li>
                                            <li class="pb-2"> <i class="ri-arrow-right-s-line"></i> S.L
                                                Agarbatti Company sets a standard for online businesses seeking
                                                to provide a secure and reliable platform for their customers.
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
<div class="image-section ">
    <div class="container">
        <div class="row mt-4">
            <div class="col-12">

            </div>
        </div>
    </div>
</div>

{% endblock %}