{% load basket_tags %}
{% load display_tags %}
{% load i18n %}
{% load purchase_info_tags %}

{% purchase_info_for_product request product as session %}

<div class="d-flex align-items-end wishlist_btn">
    {% if session.availability.is_available_to_buy and session.price.exists %}

    {% basket_form request product as basket_form %}
    {% if basket_form.is_bound and not basket_form.is_valid %}
    <div class="alert alert-danger">
        <strong>{% trans "Oops! We found some errors" %}</strong> -
        {% trans "please check the error messages below and try again" %}
    </div>
    {% endif %}

    {% if basket_form.non_field_errors %}
    {% for error in basket_form.non_field_errors %}
    <div class="alert alert-danger">
        <i class="fas fa-exclamation"></i> {{ error }}
    </div>
    {% endfor %}
    {% endif %}

    <form id="" action="{% url 'basket:add' pk=product.pk  %}" method="post" class="add-to-basket mb-0">
        {% csrf_token %}
        {% for field in basket_form %}
        {% include 'oscar/partials/form_field.html' with field=field style=style %}
        {% endfor %}
        <button type="submit" class="btn btn-lg btn-primary w-100 primary-btn3" value="{% trans "Add to basket" %}"
            data-loading-text="{% trans 'Adding...' %}">{% trans "Add to basket" %}</button>
    </form>

    {% iffeature "wishlists" %}
    {% include "oscar/catalogue/partials/add_to_wishlist.html" %}
    {% endiffeature %}
    {% else %}
    {% if has_active_alert %}
    <p>{% trans "You have an active stock alert for this product." %}</p>
    {% else %}
    <p style="width:100%;">{% trans "You can get an email alert when this product is back in stock." %}</p>
    {% include "oscar/partials/form_fields.html" with form=alert_form %}
    <form id="alert_form" method="post" action="{% url 'customer:alert-create' pk=product.id %}"
        class="add-to-basket mb-0">
        {% csrf_token %}

        <button type="submit" class="btn btn-lg btn-info primary-btn2"
            data-loading-text="{% trans 'Submitting...' %}">{% trans "Notify me" %}</button>
    </form>
    {% endif %}
    {% iffeature "wishlists" %}
    {% include "oscar/catalogue/partials/add_to_wishlist.html" %}
    {% endiffeature %}
    {% endif %}

</div>